.device LFE5U-45F

.comment Part: LFE5U-45F-6CABGA381

.tile CIB_R10C3:PVT_COUNT2
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile CIB_R38C1:CIB_LR
arc: JD7 V00B0000
arc: V00B0000 S1_V02N0001

.tile CIB_R40C1:CIB_LR
arc: N1_V02N0001 S3_V06N0003

.tile CIB_R46C1:CIB_LR_S
arc: N3_V06N0003 S3_V06N0003

.tile CIB_R52C1:CIB_LR
arc: N3_V06N0003 S3_V06N0003

.tile CIB_R58C1:CIB_LR_S
arc: N3_V06N0003 S3_V06N0003

.tile CIB_R5C1:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R5C89:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R60C1:CIB_LR
arc: E1_H02E0101 E1_H01W0100

.tile CIB_R61C1:CIB_LR
arc: E1_H02E0001 E1_H01W0000

.tile CIB_R62C1:CIB_LR
arc: S1_V02S0701 E1_H01W0100

.tile CIB_R64C1:CIB_LR
arc: JA3 N1_V02S0701
arc: N3_V06N0003 S3_V06N0303
enum: CIB.JB3MUX 0

.tile CIB_R70C1:CIB_LR_S
arc: N3_V06N0303 JF5

.tile CIB_R70C3:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R70C42:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C43:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C44:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C45:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C46:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C47:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C48:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C49:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C50:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C51:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C52:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C53:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R70C69:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C6:CIB_EFB0
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C70:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C71:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C72:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C73:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C74:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C75:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C76:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C77:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C78:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C79:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C7:CIB_EFB1
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile CIB_R70C80:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R70C87:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile MIB_R10C40:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000
arc: G_ULPCLK0 G_HPFE0000

.tile MIB_R10C41:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000
arc: G_URPCLK0 G_HPFE0000

.tile MIB_R34C3:LMID_0
arc: G_LDCC0CLKI G_JLLQPCLKCIB0

.tile MIB_R58C12:EBR_SPINE_LL1
arc: G_VPTX0000 G_HPRX0000

.tile MIB_R58C40:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000
arc: G_LLPCLK0 G_HPFE0000

.tile MIB_R58C41:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000
arc: G_LRPCLK0 G_HPFE0000

.tile MIB_R63C0:PICL1_DQS0
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS25

.tile MIB_R64C0:PICL2_DQS1
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS25

.tile MIB_R69C0:PICL1
enum: PIOC.BASE_TYPE INPUT_LVCMOS33
enum: PIOC.HYSTERESIS ON

.tile MIB_R70C0:MIB_CIB_LR
enum: PIOC.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R71C1:BANKREF6
enum: BANK.VCCIO 2V5

.tile MIB_R71C4:EFB0_PICB0
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

.tile R16C13:PLC2
word: SLICEC.K0.INIT 0000000000000000
word: SLICEC.K1.INIT 1111111111111111
enum: SLICEC.MODE LOGIC
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 0
enum: SLICEC.REG1.SD 0
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: SLICEC.CCU2.INJECT1_0 _NONE_
enum: SLICEC.CCU2.INJECT1_1 _NONE_
enum: SLICEC.A0MUX 1
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEC.A1MUX 1
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1

.tile R59C2:PLC2
arc: S1_V02S0001 V01N0001
arc: S1_V02S0201 E1_H01W0000
arc: S1_V02S0301 E1_H02W0301
arc: F3 F3_SLICE
arc: S1_V02S0101 F3
word: SLICEB.K0.INIT 0000000000000000
word: SLICEB.K1.INIT 0000000000000000
enum: SLICEB.MODE LOGIC
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG1.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A0MUX 1
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1

.tile R59C3:PLC2
arc: H00R0000 S1_V02N0401
arc: S1_V02S0701 V01N0101
arc: V00B0000 V02N0001
arc: V00B0100 V02N0101
arc: A6 H00R0000
arc: A7 V02N0301
arc: B6 H02W0101
arc: B7 S1_V02N0501
arc: C6 V02N0201
arc: C7 V00B0100
arc: D6 V00B0000
arc: D7 V02N0401
arc: F6 F6_SLICE
arc: F7 F7_SLICE
arc: H01W0000 F7
arc: S1_V02S0401 F6
arc: S1_V02S0501 F7
word: SLICED.K0.INIT 0000000100000000
word: SLICED.K1.INIT 0000000000000001
enum: SLICED.MODE LOGIC
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 0
enum: SLICED.REG1.SD 0
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG1.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.REG1.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: SLICED.CCU2.INJECT1_0 _NONE_
enum: SLICED.CCU2.INJECT1_1 _NONE_

.tile R59C4:PLC2
arc: H00R0100 V02N0501
arc: V00T0000 V02N0401
arc: W1_H02W0101 V02N0101
arc: A1 V02N0701
arc: B1 V01N0001
arc: C1 V02N0601
arc: D1 S1_V02N0201
arc: F0 F5A_SLICE
arc: F1 FXA_SLICE
arc: F2 F5B_SLICE
arc: M0 V00T0000
arc: M1 H00R0100
arc: M2 V00T0000
arc: W1_H02W0301 F1
word: SLICEA.K0.INIT 0000000000000000
word: SLICEA.K1.INIT 1000000000000000
word: SLICEB.K0.INIT 0000000000000000
word: SLICEB.K1.INIT 0000000000000000
enum: SLICEA.MODE LOGIC
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 0
enum: SLICEA.REG1.SD 0
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEB.MODE LOGIC
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG1.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A0MUX 1
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1

.tile R60C2:PLC2
arc: H00L0100 V02S0101
arc: S1_V02S0001 E1_H02W0001
arc: S1_V02S0101 H06W0103
arc: S1_V02S0501 E1_H01W0100
arc: S1_V02S0601 E1_H02W0601
arc: A0 H00L0100
arc: B2 H00L0000
arc: B3 Q3
arc: B4 H00R0000
arc: B5 V00B0100
arc: B6 V00B0000
arc: B7 H02E0101
arc: CLK0 G_HPBX0000
arc: F2 F2_SLICE
arc: F3 F3_SLICE
arc: F4 F4_SLICE
arc: F5 F5_SLICE
arc: F6 F6_SLICE
arc: F7 F7_SLICE
arc: H00L0000 Q2
arc: H00R0000 Q4
arc: H01W0100 Q7
arc: LSR0 H02W0301
arc: LSR1 H02W0301
arc: MUXCLK1 CLK0
arc: MUXCLK2 CLK0
arc: MUXCLK3 CLK0
arc: MUXLSR1 LSR1
arc: MUXLSR2 LSR1
arc: MUXLSR3 LSR0
arc: N1_V01N0001 Q3
arc: S1_V02S0201 Q2
arc: S1_V02S0401 Q4
arc: S1_V02S0701 Q7
arc: V00B0000 Q6
arc: V00B0100 Q5
arc: V01S0000 Q6
arc: V01S0100 Q5
word: SLICED.K0.INIT 1100110000000000
word: SLICED.K1.INIT 1100110000000000
word: SLICEC.K0.INIT 1100110000000000
word: SLICEC.K1.INIT 1100110000000000
word: SLICEB.K0.INIT 0110011010101010
word: SLICEB.K1.INIT 1100110000000000
word: SLICEA.K0.INIT 0000000000001010
word: SLICEA.K1.INIT 1111111111111111
enum: SLICED.MODE CCU2
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 1
enum: SLICED.REG1.SD 1
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG1.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.REG1.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.CCU2.INJECT1_0 NO
enum: SLICED.CCU2.INJECT1_1 NO
enum: SLICED.A0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1
enum: SLICED.A1MUX 1
enum: SLICED.C1MUX 1
enum: SLICED.D1MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 1
enum: SLICEC.REG1.SD 1
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.A0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEC.A1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 1
enum: SLICEB.REG1.SD 1
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEB.A1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 0
enum: SLICEA.REG1.SD 0
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.CCU2.INJECT1_1 YES
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1

.tile R60C3:PLC2
arc: E1_H02E0501 V01N0101
arc: N1_V02N0001 E1_H02W0001
arc: N1_V02N0101 E1_H01W0100
arc: N1_V02N0401 E1_H01W0000
arc: W1_H02W0301 V01N0101
arc: B0 V00T0000
arc: B1 Q1
arc: B2 H00L0000
arc: B3 Q3
arc: B4 H00R0000
arc: B5 V00B0100
arc: B6 V00B0000
arc: B7 V02S0701
arc: CLK0 G_HPBX0000
arc: E1_H01E0101 Q1
arc: E1_H02E0701 Q7
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F2 F2_SLICE
arc: F3 F3_SLICE
arc: F4 F4_SLICE
arc: F5 F5_SLICE
arc: F6 F6_SLICE
arc: F7 F7_SLICE
arc: H00L0000 Q2
arc: H00R0000 Q4
arc: H01W0100 Q6
arc: LSR0 H02W0501
arc: LSR1 H02W0501
arc: MUXCLK0 CLK0
arc: MUXCLK1 CLK0
arc: MUXCLK2 CLK0
arc: MUXCLK3 CLK0
arc: MUXLSR0 LSR1
arc: MUXLSR1 LSR0
arc: MUXLSR2 LSR0
arc: MUXLSR3 LSR1
arc: N1_V01N0101 Q7
arc: N1_V02N0201 Q2
arc: N1_V02N0301 Q3
arc: S1_V02S0501 Q5
arc: V00B0000 Q6
arc: V00B0100 Q5
arc: V00T0000 Q0
arc: V01S0000 Q0
arc: V01S0100 Q4
word: SLICED.K0.INIT 1100110000000000
word: SLICED.K1.INIT 1100110000000000
word: SLICEC.K0.INIT 1100110000000000
word: SLICEC.K1.INIT 1100110000000000
word: SLICEB.K0.INIT 1100110000000000
word: SLICEB.K1.INIT 1100110000000000
word: SLICEA.K0.INIT 1100110000000000
word: SLICEA.K1.INIT 1100110000000000
enum: SLICED.MODE CCU2
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 1
enum: SLICED.REG1.SD 1
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG1.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.REG1.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.CCU2.INJECT1_0 NO
enum: SLICED.CCU2.INJECT1_1 NO
enum: SLICED.A0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1
enum: SLICED.A1MUX 1
enum: SLICED.C1MUX 1
enum: SLICED.D1MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 1
enum: SLICEC.REG1.SD 1
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.A0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEC.A1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 1
enum: SLICEB.REG1.SD 1
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEB.A1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.CCU2.INJECT1_1 NO
enum: SLICEA.A0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEA.A1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1

.tile R60C4:PLC2
arc: N1_V02N0101 H01E0101
arc: N1_V02N0701 H02E0701
arc: W1_H02W0501 V02N0501
arc: W1_H02W0601 E1_H01W0000
arc: B0 V00T0000
arc: B1 Q1
arc: B2 H00L0000
arc: B3 Q3
arc: B4 H00R0000
arc: B5 V01S0000
arc: B6 V00B0000
arc: B7 V00B0100
arc: CLK0 G_HPBX0000
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F2 F2_SLICE
arc: F3 F3_SLICE
arc: F4 F4_SLICE
arc: F5 F5_SLICE
arc: F6 F6_SLICE
arc: F7 F7_SLICE
arc: H00L0000 Q2
arc: H00R0000 Q4
arc: H01W0000 Q3
arc: H01W0100 Q1
arc: LSR0 H02E0501
arc: MUXCLK0 CLK0
arc: MUXCLK1 CLK0
arc: MUXCLK2 CLK0
arc: MUXCLK3 CLK0
arc: MUXLSR0 LSR0
arc: MUXLSR1 LSR0
arc: MUXLSR2 LSR0
arc: MUXLSR3 LSR0
arc: N1_V01N0001 Q2
arc: N1_V02N0401 Q6
arc: N1_V02N0501 Q7
arc: N1_V02N0601 Q4
arc: V00B0000 Q6
arc: V00B0100 Q7
arc: V00T0000 Q0
arc: V01S0000 Q5
arc: W1_H02W0001 Q0
word: SLICED.K0.INIT 1100110000000000
word: SLICED.K1.INIT 1100110000000000
word: SLICEC.K0.INIT 1100110000000000
word: SLICEC.K1.INIT 1100110000000000
word: SLICEB.K0.INIT 1100110000000000
word: SLICEB.K1.INIT 1100110000000000
word: SLICEA.K0.INIT 1100110000000000
word: SLICEA.K1.INIT 1100110000000000
enum: SLICED.MODE CCU2
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 1
enum: SLICED.REG1.SD 1
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG1.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.REG1.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICED.CCU2.INJECT1_0 NO
enum: SLICED.CCU2.INJECT1_1 NO
enum: SLICED.A0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1
enum: SLICED.A1MUX 1
enum: SLICED.C1MUX 1
enum: SLICED.D1MUX 1
enum: SLICEC.MODE CCU2
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 1
enum: SLICEC.REG1.SD 1
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.A0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEC.A1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 1
enum: SLICEB.REG1.SD 1
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEB.A1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.CCU2.INJECT1_1 NO
enum: SLICEA.A0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEA.A1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1

.tile R60C5:PLC2
arc: B0 V00T0000
arc: B1 Q1
arc: B2 H00L0000
arc: CLK0 G_HPBX0000
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F2 F2_SLICE
arc: H00L0000 Q2
arc: H01W0000 Q2
arc: LSR1 W1_H02E0501
arc: MUXCLK0 CLK0
arc: MUXCLK1 CLK0
arc: MUXLSR0 LSR1
arc: MUXLSR1 LSR1
arc: V00T0000 Q0
arc: W1_H02W0001 Q0
arc: W3_H06W0103 Q1
word: SLICEC.K0.INIT 0000000000000000
word: SLICEC.K1.INIT 0000000000001010
word: SLICEB.K0.INIT 1100110000000000
word: SLICEB.K1.INIT 0000000000000000
word: SLICEA.K0.INIT 1100110000000000
word: SLICEA.K1.INIT 1100110000000000
enum: SLICEC.MODE CCU2
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 0
enum: SLICEC.REG1.SD 0
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.A0MUX 1
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEC.A1MUX 1
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICEB.MODE CCU2
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 1
enum: SLICEB.REG1.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.A0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEA.MODE CCU2
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.CCU2.INJECT1_1 NO
enum: SLICEA.A0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEA.A1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1

.tile R61C2:PLC2
arc: E1_H02E0301 N1_V02S0301
arc: H00L0000 V02S0201
arc: H00R0000 H02W0401
arc: H00R0100 H02W0501
arc: S1_V02S0201 E1_H02W0201
arc: V00B0000 N1_V02S0201
arc: V00B0100 N1_V02S0301
arc: V00T0100 V02S0701
arc: A1 F5
arc: A4 V02S0101
arc: A7 N1_V01S0100
arc: B1 H01W0100
arc: B4 H00L0000
arc: B5 V02S0501
arc: B7 N1_V01S0000
arc: C1 F4
arc: C4 N1_V02S0001
arc: C5 V02S0001
arc: C7 V00T0100
arc: D1 V00B0100
arc: D4 V02S0401
arc: D5 V02S0601
arc: D7 H00R0100
arc: E1_H01E0001 F4
arc: E1_H02E0701 F5
arc: F0 F5A_SLICE
arc: F1 FXA_SLICE
arc: F2 F5B_SLICE
arc: F4 F4_SLICE
arc: F5 F5_SLICE
arc: F7 F7_SLICE
arc: H01W0000 F7
arc: H01W0100 F7
arc: M0 V00B0000
arc: M1 H00R0000
arc: M2 V00B0000
arc: S1_V02S0301 F1
word: SLICED.K0.INIT 0000000000000000
word: SLICED.K1.INIT 1000000000000000
word: SLICEC.K0.INIT 0100000000000000
word: SLICEC.K1.INIT 1100000000000000
word: SLICEA.K0.INIT 1111111111111111
word: SLICEA.K1.INIT 0111111111111111
word: SLICEB.K0.INIT 1111111111111111
word: SLICEB.K1.INIT 1111111111111111
enum: SLICED.MODE LOGIC
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 0
enum: SLICED.REG1.SD 0
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG1.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.REG1.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: SLICED.CCU2.INJECT1_0 _NONE_
enum: SLICED.CCU2.INJECT1_1 _NONE_
enum: SLICED.A0MUX 1
enum: SLICED.B0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1
enum: SLICEC.MODE LOGIC
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 0
enum: SLICEC.REG1.SD 0
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: SLICEC.CCU2.INJECT1_0 _NONE_
enum: SLICEC.CCU2.INJECT1_1 _NONE_
enum: SLICEC.A1MUX 1
enum: SLICEA.MODE LOGIC
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 0
enum: SLICEA.REG1.SD 0
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEB.MODE LOGIC
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG1.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A0MUX 1
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1

.tile R61C3:PLC2
arc: H00R0000 N1_V02S0401
arc: H00R0100 N1_V02S0501
arc: N1_V02N0401 N1_V01S0000
arc: N1_V02N0501 N1_V01S0100
arc: V00B0100 H02E0701
arc: W1_H02W0401 N1_V02S0401
arc: W1_H02W0501 V02S0501
arc: A1 H01E0001
arc: B1 H02E0301
arc: C1 H00R0100
arc: D1 H00R0000
arc: E1_H01E0101 F3
arc: F0 F5A_SLICE
arc: F1 FXA_SLICE
arc: F2 F5B_SLICE
arc: F3 FXB_SLICE
arc: F4 F5C_SLICE
arc: F5 FXC_SLICE
arc: F6 F5D_SLICE
arc: M0 V00B0100
arc: M1 W1_H02E0001
arc: M2 V00B0100
arc: M3 H02W0201
arc: M4 V00B0100
arc: M5 W1_H02E0001
arc: M6 V00B0100
arc: N1_V01N0101 F3
word: SLICEA.K0.INIT 0000000000000000
word: SLICEA.K1.INIT 1000000000000000
word: SLICEB.K0.INIT 0000000000000000
word: SLICEB.K1.INIT 0000000000000000
word: SLICEC.K0.INIT 1111111111111111
word: SLICEC.K1.INIT 1111111111111111
word: SLICED.K0.INIT 1111111111111111
word: SLICED.K1.INIT 1111111111111111
enum: SLICEA.MODE LOGIC
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 0
enum: SLICEA.REG1.SD 0
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX 1
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.D0MUX 1
enum: SLICEB.MODE LOGIC
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 0
enum: SLICEB.REG1.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX 1
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A0MUX 1
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1
enum: SLICEC.MODE LOGIC
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 0
enum: SLICEC.REG1.SD 0
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX 1
enum: SLICEC.CCU2.INJECT1_0 _NONE_
enum: SLICEC.CCU2.INJECT1_1 _NONE_
enum: SLICEC.A0MUX 1
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.D0MUX 1
enum: SLICEC.A1MUX 1
enum: SLICEC.B1MUX 1
enum: SLICEC.C1MUX 1
enum: SLICEC.D1MUX 1
enum: SLICED.MODE LOGIC
enum: SLICED.GSR DISABLED
enum: SLICED.REG0.SD 0
enum: SLICED.REG1.SD 0
enum: SLICED.REG0.REGSET RESET
enum: SLICED.REG1.REGSET RESET
enum: SLICED.REG0.LSRMODE LSR
enum: SLICED.REG1.LSRMODE LSR
enum: SLICED.CEMUX 1
enum: SLICED.CCU2.INJECT1_0 _NONE_
enum: SLICED.CCU2.INJECT1_1 _NONE_
enum: SLICED.A0MUX 1
enum: SLICED.B0MUX 1
enum: SLICED.C0MUX 1
enum: SLICED.D0MUX 1
enum: SLICED.A1MUX 1
enum: SLICED.B1MUX 1
enum: SLICED.C1MUX 1
enum: SLICED.D1MUX 1

.tile R61C4:PLC2
arc: N1_V02N0201 N1_V01S0000
arc: N1_V02N0501 H01E0101
arc: B0 V00B0000
arc: B5 H00R0000
arc: C0 H00L0100
arc: C1 N1_V01N0001
arc: C5 V00T0100
arc: CE0 H00R0100
arc: CE2 H00R0100
arc: CLK0 G_HPBX0000
arc: D0 Q0
arc: D1 V00T0100
arc: D4 V00B0000
arc: D5 H01W0000
arc: F0 F0_SLICE
arc: F1 F1_SLICE
arc: F4 F4_SLICE
arc: F5 F5_SLICE
arc: H00L0100 Q1
arc: H00R0000 Q4
arc: H00R0100 F5
arc: H01W0000 Q0
arc: MUXCLK0 CLK0
arc: MUXCLK2 CLK0
arc: N1_V01N0001 Q4
arc: V00B0000 Q4
arc: V00T0100 Q1
arc: W1_H02W0201 Q0
word: SLICEA.K0.INIT 0011111111000000
word: SLICEA.K1.INIT 0000111111110000
word: SLICEC.K0.INIT 0000000011111111
word: SLICEC.K1.INIT 1111110011111111
enum: SLICEA.MODE LOGIC
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG1.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG1.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.REG1.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEC.MODE LOGIC
enum: SLICEC.GSR DISABLED
enum: SLICEC.REG0.SD 1
enum: SLICEC.REG1.SD 0
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG1.REGSET RESET
enum: SLICEC.REG0.LSRMODE LSR
enum: SLICEC.REG1.LSRMODE LSR
enum: SLICEC.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEC.CCU2.INJECT1_0 _NONE_
enum: SLICEC.CCU2.INJECT1_1 _NONE_
enum: SLICEC.A0MUX 1
enum: SLICEC.B0MUX 1
enum: SLICEC.C0MUX 1
enum: SLICEC.A1MUX 1

.tile R62C2:PLC2
arc: H00L0100 V02S0301
arc: CE1 H00L0100
arc: CLK0 G_HPBX0000
arc: D2 Q2
arc: D3 V02S0201
arc: F2 F2_SLICE
arc: F3 F3_SLICE
arc: H01W0100 Q2
arc: LSR1 V00T0100
arc: MUXCLK1 CLK0
arc: MUXLSR1 LSR1
arc: V00T0100 F3
word: SLICEB.K0.INIT 0000000011111111
word: SLICEB.K1.INIT 0000000011111111
enum: SLICEB.MODE LOGIC
enum: SLICEB.GSR DISABLED
enum: SLICEB.REG0.SD 1
enum: SLICEB.REG1.SD 0
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG1.REGSET RESET
enum: SLICEB.REG0.LSRMODE LSR
enum: SLICEB.REG1.LSRMODE LSR
enum: SLICEB.CEMUX INV
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A0MUX 1
enum: SLICEB.B0MUX 1
enum: SLICEB.C0MUX 1
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1

.tile TAP_R60C13:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile TAP_R61C13:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

.tile TAP_R62C13:TAP_DRIVE
arc: L_HPBX0000 G_VPTX0000

