LOCATE      COMP "clk_i" SITE "P3";
IOBUF       PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY   PORT "clk_i" 25 MHZ;

LOCATE      COMP "led_o" SITE "U16";
IOBUF       PORT "led_o" IO_TYPE=LVCMOS25;

LOCATE COMP "P2_3"  SITE "K18";
LOCATE COMP "P2_4"  SITE "T18";
LOCATE COMP "P2_5"  SITE "R17";
LOCATE COMP "P2_6"  SITE "M17";
LOCATE COMP "P2_7"  SITE "U18";
LOCATE COMP "P2_9"  SITE "P18";

LOCATE COMP "P2_12" SITE "N18";
LOCATE COMP "P2_13" SITE "L20";
LOCATE COMP "P2_14" SITE "K20";
LOCATE COMP "P2_15" SITE "G20";

LOCATE COMP "P2_16" SITE "J20";
LOCATE COMP "P2_17" SITE "L18";
LOCATE COMP "P2_18" SITE "M18";
LOCATE COMP "P2_19" SITE "N17";

LOCATE COMP "P2_22" SITE "U17";

LOCATE COMP "P2_24" SITE "T17";
LOCATE COMP "P2_25" SITE "P17";
LOCATE COMP "P2_26" SITE "R18";
LOCATE COMP "P2_27" SITE "C18";
LOCATE COMP "P2_28" SITE "U16";

IOBUF  PORT "P2_3"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_4"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_5"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_6"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_7"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_9"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_12" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_13" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_14" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_15" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_16" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_17" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_18" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_19" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_22" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_24" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_25" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_26" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_27" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_28" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;


