LOCATE      COMP "clk25" SITE "P3";
IOBUF       PORT "clk25" IO_TYPE=LVCMOS33;
FREQUENCY   PORT "clk25" 25 MHZ;

LOCATE      COMP "led_o" SITE "U16";
IOBUF       PORT "led_o" IO_TYPE=LVCMOS25;


LOCATE      COMP "reset"    SITE "G18";
IOBUF       PORT "reset"    IO_TYPE=LVCMOS33;

LOCATE      COMP "LCD_CLK"  SITE "A18";
IOBUF       PORT "LCD_CLK"  IO_TYPE=LVCMOS33;

LOCATE      COMP "LCD_HYNC" SITE "A19";
IOBUF       PORT "LCD_HYNC" IO_TYPE=LVCMOS33;

LOCATE      COMP "LCD_SYNC" SITE "B19";
IOBUF       PORT "LCD_SYNC" IO_TYPE=LVCMOS33;

LOCATE      COMP "LCD_DEN"  SITE "D20";
IOBUF       PORT "LCD_DEN"  IO_TYPE=LVCMOS33;

LOCATE      COMP "LCD_R[0]"  SITE "D1";
LOCATE      COMP "LCD_R[1]"  SITE "C1";
LOCATE      COMP "LCD_R[2]"  SITE "C2";
LOCATE      COMP "LCD_R[3]"  SITE "E3";
LOCATE      COMP "LCD_R[4]"  SITE "B4";
IOBUF       PORT "LCD_R[0]"  IO_TYPE=LVCMOS33;
IOBUF       PORT "LCD_R[1]"  IO_TYPE=LVCMOS33;
IOBUF       PORT "LCD_R[2]"  IO_TYPE=LVCMOS33;
IOBUF       PORT "LCD_R[3]"  IO_TYPE=LVCMOS33;
IOBUF       PORT "LCD_R[4]"  IO_TYPE=LVCMOS33;

LOCATE      COMP "LCD_G[0]"  SITE "E2";
LOCATE      COMP "LCD_G[1]"  SITE "D2";
LOCATE      COMP "LCD_G[2]"  SITE "B1";
LOCATE      COMP "LCD_G[3]"  SITE "A3";
LOCATE      COMP "LCD_G[4]"  SITE "C3";
LOCATE      COMP "LCD_G[5]"  SITE "C4";
IOBUF       PORT "LCD_G[0]"  IO_TYPE=LVCMOS33;
IOBUF       PORT "LCD_G[1]"  IO_TYPE=LVCMOS33;
IOBUF       PORT "LCD_G[2]"  IO_TYPE=LVCMOS33;
IOBUF       PORT "LCD_G[3]"  IO_TYPE=LVCMOS33;
IOBUF       PORT "LCD_G[4]"  IO_TYPE=LVCMOS33;
IOBUF       PORT "LCD_G[5]"  IO_TYPE=LVCMOS33;

LOCATE      COMP "LCD_B[0]"  SITE "D3";
LOCATE      COMP "LCD_B[1]"  SITE "C17";
LOCATE      COMP "LCD_B[2]"  SITE "B18";
LOCATE      COMP "LCD_B[3]"  SITE "B20";
LOCATE      COMP "LCD_B[4]"  SITE "F20";
IOBUF       PORT "LCD_B[0]"  IO_TYPE=LVCMOS33;
IOBUF       PORT "LCD_B[1]"  IO_TYPE=LVCMOS33;
IOBUF       PORT "LCD_B[2]"  IO_TYPE=LVCMOS33;
IOBUF       PORT "LCD_B[3]"  IO_TYPE=LVCMOS33;
IOBUF       PORT "LCD_B[4]"  IO_TYPE=LVCMOS33;
