BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk_25mhz" SITE "P3";
IOBUF  PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;

## LED indicators "blinkey" and "gpio" sheet
LOCATE COMP "led[7]" SITE "U16";
LOCATE COMP "led[6]" SITE "C18";
LOCATE COMP "led[5]" SITE "R18";
LOCATE COMP "led[4]" SITE "P17";
LOCATE COMP "led[3]" SITE "K18";
LOCATE COMP "led[2]" SITE "T18";
LOCATE COMP "led[1]" SITE "R17";
LOCATE COMP "led[0]" SITE "M17";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE  COMP "UART_TX"  SITE "J17";
LOCATE  COMP "UART_RX"  SITE "H18";

IOBUF   PORT "UART_TX"  IO_TYPE=LVCMOS33;
IOBUF   PORT "UART_RX"  IO_TYPE=LVCMOS33;
 
